@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-base-light: #fafafa;
  --color-base-dark: #0b1120;
  --color-primary-light: #111827;
  --color-primary-dark: #f9fafb;
  --color-border-light: #e5e7eb;
  --color-border-dark: #1f2937;
  --color-secondary-light: #374151;
  --color-secondary-dark: #d1d5db;
  --color-accent-light: #2563eb;
  --color-accent-dark: #60a5fa;
  --color-secondary-accent-light: #065f43;
  --color-secondary-accent-dark: #34d399;

  --color-theme-toggle: var(--theme-toggle-primary);
  --color-theme-toggle-accent: var(--theme-toggle-secondary);

  --font-manrope: 'Manrope Variable', sans-serif;

  --color-vulcan-900: #1f325b;
  --color-vulcan-500: #396bbe;

  --color-aquamarine-200: #94ffde;
  --color-aquamarine-800: #00755e;
  --color-blue-chill-200: #8bfff5;
  --color-blue-chill-800: #066769;
}

body {
  @apply bg-base-light text-primary-light dark:bg-base-dark dark:text-primary-dark;
}

/* Scrollbar personalizado estilo FIFA */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--fifa-blue-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--fifa-gold);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fifa-gold-light);
}
