@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-teal-blue-950: #0f2e3d;
  --color-teal-blue-900: #204b5e;
  --color-teal-blue-800: #20566a;
  --color-teal-blue-700: #1d6981;
  --color-teal-blue-400: #39bdd7;
  --color-teal-blue-300: #78d7e8;
  --color-teal-blue-200: #afe9f2;
  --color-teal-blue-100: #d4f5f9;
  --color-teal-blue-50: #eefbfd;

  --color-cream-800: #835010;
  --color-cream-700: #9e650a;
  --color-cream-400: #f6cf19;
  --color-cream-300: #fae34a;
  --color-cream-200: #fcf18c;
  --color-cream-100: #fdfac7;
  --color-cream-50: #fefde8;

  --color-background-light: var(--color-cream-50);
  --color-background-dark: var(--color-teal-blue-950);

  --color-primary-light: var(--color-teal-blue-950);
  --color-primary-dark: var(--color-teal-blue-50);
  --color-secondary-light: var(--color-teal-blue-900);
  --color-secondary-dark: var(--color-teal-blue-200);

  --font-manrope: 'Manrope Variable', sans-serif;
}

@layer base {
  html,
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 100%;
    overscroll-behavior: none;
  }
}

body {
  @apply bg-background-light text-primary-light dark:bg-background-dark dark:text-primary-dark;
}

/* Scrollbar personalizado estilo FIFA */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--fifa-blue-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--fifa-gold);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fifa-gold-light);
} */
