---
import Layout from '../layouts/Layout.astro'
import ContainerSection from '../components/ContainerSection.astro'
import Hero from '../components/Hero.astro'
---

<Layout title="Portfolio | Developer - Estilo FIFA">
  <main class="px-4">
    <ContainerSection class="py-14 md:py-28">
      <Hero />
    </ContainerSection>
    <ContainerSection class="py-14 md:py-28">
      <Hero />
    </ContainerSection>
  </main>
</Layout>
