<article
  class="flex flex-col items-center justify-center gap-8 text-primary-light dark:text-primary-dark md:flex-row"
>
  <img
    width="200"
    height="200"
    src="/me.webp"
    alt="Hozmel de la Rosa"
    class="order-1 object-cover w-64 h-full p-1 lg:p-2 -rotate-3 hover:rotate-3 hover:scale-105 lg:hover:p-1 lg:w-64 aspect-square rounded-t-full bg-cream-200/20 dark:bg-teal-blue-700/15 ring-1 ring-cream-300/60 dark:ring-teal-blue-800/80 transition-all duration-500 ease-in-out"
    style="object-position: 50% 50%"
  />

  <div
    class="[&>p:not(:last-child)]:mb-4 [&>p>strong]:text-cream-800 dark:[&>p>strong]:text-teal-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2"
  >
    <p>
      Me llamo Hozmel Roberto, soy <strong>Desarrollador Frontend Junior</strong
      >, egresado de la Licenciatura en Ciencias y Tecnologías de la Información
      por la
      <strong>Universidad Autónoma de Guerrero (UAGro)</strong>. Me enfoco en el
      desarrollo de interfaces web modernas, accesibles y bien estructuradas,
      cuidando la experiencia del usuario y la calidad del código.
    </p>

    <p>
      He trabajado con tecnologías como <strong
        >React, Next.js, Astro y Tailwind CSS</strong
      >, desarrollando proyectos personales que me han permitido fortalecer mis
      bases en frontend, aplicar buenas prácticas y comprender mejor el flujo de
      desarrollo de aplicaciones web.
    </p>

    <p>
      Actualmente busco mi <strong>primera oportunidad profesional</strong> como desarrollador
      frontend, en un entorno donde pueda seguir aprendiendo, aportar valor y crecer
      junto a un equipo de desarrollo.
    </p>
  </div>
</article>
