<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-px">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#50ffd2_0%,#3d6311_50%,#4afef0_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-fit px-3 py-1 text-sm text-secondary-accent-light dark:text-secondary-accent-dark bg-green-50 dark:bg-gray-800 rounded-full cursor-pointer backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
