---
import ThemeToggle from './ThemeToggle.astro'
import { navItems } from '../config/navItems.ts'
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-3.5"
>
  <nav
    class="flex p-2.5 text-base font-medium rounded-full text-primary-light dark:text-primary-dark justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-5 py-1.5 transition hover:text-teal-blue-800 dark:hover:text-teal-blue-200 rounded-full"
          href={link.url}
          aria-label={link.label}
        >
          {link.title}
        </a>
      ))
    }

    <ThemeToggle />
  </nav>
</header>

<script>
  function setupIntersectionObserver() {
    const sections = document.querySelectorAll('section[id]')
    const navItems = document.querySelectorAll('header nav a')

    if (!sections.length || !navItems.length) return

    const callback = (entries: IntersectionObserverEntry[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute('aria-label') === entry.target.id) {
              item.classList.add('active')
            } else {
              item.classList.remove('active')
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: '-10% 0px -60% 0px',
      threshold: 0.3,
    })

    sections.forEach((section) => observer.observe(section))

    document.onvisibilitychange = () => {
      if (document.visibilityState === 'hidden') observer.disconnect()
      else sections.forEach((section) => observer.observe(section))
    }
  }

  setupIntersectionObserver()

  document.addEventListener('astro:after-swap', setupIntersectionObserver)
</script>

<style>
  @reference '../styles/global.css';

  :global(:root) {
    /* --nav-bg: hsla(58, 97%, 88%, 0.1); */
    --nav-bg: hsla(57, 92%, 95%, 0.7);
    --item-active-bg: hsla(58, 97%, 88%);
  }

  :global(.dark) {
    --nav-bg: hsla(200, 61%, 15%, 0.7);
    --item-active-bg: hsla(186, 76%, 90%, 0.09);
  }

  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  .active {
    background: var(--item-active-bg);
    @apply text-teal-blue-800 hover:text-primary-light dark:text-teal-blue-200 dark:hover:text-primary-dark;
  }

  @keyframes nav-shadown {
    0% {
      background-color: transparent;
      backdrop-filter: blur(0px) saturate(1);
    }
    to {
      background-color: var(--nav-bg);
      backdrop-filter: blur(24px) saturate(2.2);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    nav {
      animation: none;
      background-color: var(--nav-bg);
      backdrop-filter: blur(24px) saturate(1.7);
    }
  }
</style>
