---
import { socials } from '../config/socials'
import SocialPill from './SocialPill.astro'
import MailIcon from './icons/Mail.astro'
import LinkedInIcon from './icons/LinkedIn.astro'
---

<div class="flex items-center justify-center gap-12">
  <div class="max-w-3xl flex flex-col items-center text-center">
    <h1
      class="text-4xl sm:text-8xl font-manrope font-extrabold tracking-tight text-secondary-light dark:text-secondary-dark mb-5"
    >
      Hey, soy Hozmel.
    </h1>

    <h2
      class="text-2xl sm:text-4xl font-manrope font-bold tracking-tight text-secondary-light dark:text-secondary-dark mb-8"
    >
      Desarrollador Frontend Junior.
    </h2>

    <div class="max-w-xl">
      <p
        class="text-base sm:text-xl font-medium text-primary-light dark:text-primary-dark [&>strong]:text-accent-light dark:[&>strong]:text-accent-dark"
      >
        Apasionado por el desarrollo de aplicaciones web únicas y modernas, con
        un enfoque en la funcionalidad y la experiencia del usuario.
      </p>
    </div>

    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:hozdelarosar@gmail.com">
        <MailIcon class="size-4" />
        Contactame
      </SocialPill>

      <SocialPill href={socials.linkedin}>
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
</div>
