<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-md text-gray-800 hover:text-white bg-gray-100 hover:bg-gray-900 border border-gray-300 hover:border-gray-700 dark:text-white dark:hover:text-black dark:bg-gray-800 dark:hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-300 rounded-full focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-chill-800 focus-visible:ring-offset-2 active:bg-black max-w-fit transition group"
>
  <slot />
</a>
