<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-5 py-3 font-medium text-primary-light hover:text-primary-dark bg-cream-100/80 hover:bg-background-dark border border-cream-200/45 hover:border-teal-blue-900 dark:text-primary-dark dark:hover:text-primary-light dark:bg-teal-blue-900 dark:hover:bg-background-light dark:border-teal-blue-800/55 dark:hover:border-cream-100 rounded-2xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-blue-chill-800 focus-visible:ring-offset-2 active:bg-gray-900 max-w-fit transition group"
>
  <slot />
</a>
